.container {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 28px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 900px; /* Increased width to accommodate both columns */
  margin: 0 auto;
  text-align: center;
  gap: 40px;
}

.form {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 20px; /* Space between form and image */
}

p {
  font-size: 18px;
  margin-top: 12px;
}

.titulo {
  font-size: 30px;
}

.descripcion {
  padding-bottom: 30px;
  margin-top: 10px;
}

.input {
  margin-bottom: 18px;
  padding: 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 18px;
  background-color: #f9f9f9;
  height: 50px;
}

.input:focus {
  outline: none;
  border-color: #007bff;
}

.button {
  background-color: #333;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
}

.button:hover {
  background-color: #555;
}

img {
  flex: 1;
  max-width: 100%; /* Makes sure image scales */
  height: auto;
  align-self: center;
  display: flex;
  justify-items: center;
  justify-content: center;
  margin-top: 60px;
}
